<phpunit bootstrap="bootstrap.php" backupGlobals="false">
  <testsuites>
    <testsuite name="ActionController">
      <file>controller/base_test.php</file>
      <file>registry/template_registry_test.php</file>
      <file>view/concrete_view_test.php</file>
    </testsuite>
  </testsuites>
</phpunit>